/* Ensures all images have more width than height */
.service-heading {
  font-size: 56px; /* Larger font size */
  font-weight: lighter; /* Bold font weight */
  color: #0056b3; /* A deep blue color */
  text-transform: uppercase; /* Uppercase letters */
  /* text-shadow: 2px 2px 4px #000000; Black shadow for depth */
  margin-bottom: 50px; /* Increased bottom margin */
}
.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.p-4 {
  padding: 2rem !important;
}

.p-0 {
  padding: 0 !important;
}

h2 {
  font-size: 24px; /* Larger font size for service titles */
  color: #333; /* Dark grey color for better readability */
}

p {
  font-size: 16px; /* Suitable font size for descriptions */
  line-height: 1.6; /* Increased line height for readability */
  color: #666; /* Lighter grey for descriptions */
}

/* Style for the 'Read more' button */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

/* Hover effect for the 'Read more' button */
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Optional: adds a subtle shadow effect */
}

.service-image {
  width: 100%; /* Makes sure the image takes the full width of its container */
  height: auto; /* Adjusts height automatically to maintain the aspect ratio */
  aspect-ratio: 16 / 9; /* Sets a wider aspect ratio, change as needed */
  object-fit: cover; /* Covers the area of the container without stretching the image */
}

@media (max-width: 768px) {
  .service-heading {
    font-size: 44px; /* Smaller font size on smaller devices */
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
