.carousel-overlay {
  position: absolute;
  width: 100%;
  top: -250px; /* Adjust this value to control how much the carousel overlaps the video */
  z-index: 2; /* Ensures the carousel is above the video */
  padding: 0 !important;
}

.aboveHero {
  position: relative;
  z-index: 10;
}

@media (max-width: 768px) {
  .carousel-overlay {
    position: static; /* Resets to normal flow, no overlap */
    top: 0px; /* Removes negative spacing */
  }
}
