.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link {
  color: white !important;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.custom-navbar .navbar-nav .nav-link {
  border-right: 1px solid white;
  padding: 0 25px;
}

.custom-navbar .navbar-nav .nav-link:last-child {
  border-right: none;
}

.custom-navbar .navbar-nav .nav-link:hover,
.custom-navbar .navbar-nav .nav-link:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.custom-navbar .navbar-nav .dropdown-menu {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.custom-navbar .navbar-nav .dropdown-menu .nav-dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
  .custom-navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
}

.custom-navbar .navbar-collapse {
  justify-content: flex-end;
}

.custom-navbar .navbar-toggler-icon {
  filter: invert(1);
}

@media (max-width: 767.98px) {
  .custom-navbar {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }

  .custom-navbar .navbar-nav .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.logo {
  height: 80px;
}
